<?xml version="1.0" encoding="utf-8"?>
<package>
  <!-- Basic Package Info -->
  <info>
	<!-- max length of name = 32 chars (length tof databaseupgrade field) -->
    <name>Interactive Workflow Graph (vis)</name>
    <label>Interactive Workflow Graph (vis)</label>
    <version>12.0.1</version>
    <version_label>12.0R1</version_label>
    <type>aia</type>
    <owner>Aras Corporation</owner>
    <description>Adds a form that can be used on relationship views of item types with workflows. The logic on the form renders the workflow process in a graph using the vis library. Nodes on the graph are interactive</description>
    <copyright>©2020 Aras Corporation</copyright>
    <package_icon>package.ico</package_icon>
    <more_information_url>
    </more_information_url>
    <tool_minimal_version_required>1.7</tool_minimal_version_required>
  </info>
  <!-- Installation Process -->
  <installation do_backup="false">
    <module id="IS" label="Code tree update (vis-network JS library)" description="Copy files into the code tree" required_properties="Innovator.Dir">
	  <echo>Adding code tree patches to folder: ${Innovator.Dir}/Client</echo>
      <copy todir="${Innovator.Dir}/" failonerror="true">
        <fileset basedir="${Package.Dir}/CodeTreePatches/Innovator">
          <include name="**" />
        </fileset>
      </copy>
    </module>
    <module id="DB" label="Import into Innovator DB" description="Install module db" required_properties="Innovator.URL|Innovator.DB|Innovator.Username|Innovator.Password">
	  <echo>Checking, for valid innovator releases</echo>
      <dependencies>
        <or>
          <innovator version="12.0 SP10" />
          <innovator version="12.0 SP11" />
          <innovator version="12.0 SP12" />
        </or>
      </dependencies>
	  <echo>Importing main solution packages</echo>
      <import dir="${Package.Dir}/imports/" mfile="${Package.Dir}/imports/1-imports.mf" failonerror="true" />
    </module>
    <module id="DB_AddToPR-ECR-ECN-ECO" label="Add workflow tab to PRs, ECRs, ECN, ECOs" description="Installs additions" required_properties="Innovator.URL|Innovator.DB|Innovator.Username|Innovator.Password">
	  <echo>Checking, for valid innovator releases</echo>
      <dependencies>
        <or>
          <innovator version="12.0 SP10" />
          <innovator version="12.0 SP11" />
          <innovator version="12.0 SP12" />
        </or>
      </dependencies>
	  <echo>Importing main solution packages</echo>
      <import dir="${Package.Dir}/imports/" mfile="${Package.Dir}/imports/2-imports - PR,ECR,ECN,ECO.mf" failonerror="true" />
    </module>
  </installation>
</package>